<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add</title>
</head>
<body>
<form method="post" th:action="@{/user}">
    <div class="form-group">
        <label>User Name:
            <input type="text" name ="userName" th:value="${userName}"/>
        </label>
    </div>
    <div class="form-group">
        <label>Email:
            <input type="email" th:value="${email}"/>
        </label>

    <div class="form-group">
        <label>Password:
        <input type="password" name="password" th:value="${password}"/>
        </label>
    </div>
    <div class="form-group">
        <label> Verify Password:
            <input type="password" name="verify" th:value="${verify}"/>
        </label>
    </div>
    <p th:text="${error}"></p>

        <input type="submit" value="sign up" >

    </div>
</form>

</body>
</html>